@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Soft-red: hsl(5, 85%, 63%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Soft-orange: hsl(35, 77%, 62%)
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
   font-family:'Inter';
}

.container{
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 30px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    transition: transform 0.5s ease-in 1s;
    animation:1s ease-in 0.5s SlideOut;
}

.links ul{
    display: flex;
    gap: 1rem;
}

.links li{
    list-style: none;
}

.links ul li a{
    text-decoration: none;
    color:var(--Dark-grayish-blue);
    transition: 0.5s color ease;
}

.link ul li a:hover{
    color: var(--Soft-red);
}

.hero{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem
}

.new_articles {
    background-color:hsl(240, 100%, 5%) ;
    font-family: 'Inter', sans-serif;
    color: hsl(36, 100%, 99%);
    padding: 1em;
    transition: transform 0.5s ease-in 1s;
    animation:1s ease-in 0.5s SlideIn;
}

.heading {
    font-size:2.5em ;
    margin-top: 7px;
    color:var(--Soft-orange);
}

.article {
    margin:25px 5px;
}
 
.article a{
  color: hsl(36, 100%, 99%);
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1rem;
  display: inline-block;
  text-decoration: none;
}

.article a:hover{
    color: var(--Soft-orange);
}

.hero_text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.hero_text h1{
    font-size: 3rem;
    font-weight: 800;
}

.button {
    background-color:hsl(5, 87%, 45%) ;
    padding: 1em 1.5em;
    display: inline-block;
    margin-top: 1.5em;
    text-decoration: none;
    color: hsl(36, 100%, 99%) ;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.25em;
    transition: background-color 0.5s ease;
}

.button:hover{
    background-color:black;
}

.articles {
    display: flex;
    gap: 1rem;
    margin: 4rem 0;
}

.new_article {
    display: flex;
    gap: 1rem;
}

.new_article .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new_article img{
    max-width: 120px;
}

.content h2{
    color: hsl(233, 8%, 79%);
    font-size: 2em;
}

.content h3:hover{
    color: var(--Soft-orange);
}

@media screen and (max-width:800px) {
     .hero{
        grid-template-columns: 1fr;
     }
     .articles{
        flex-direction: column;
     }
}


  /* .btn:hover{
      transform:translateX(-100px) rotate(40deg) translateY(-30px) 
  } */
  @keyframes SlideIn{
      0%{
          transform:translateX(100px);
          opacity: 0;
      }
      100%{
          transform: translateX(0px);
          opacity: 1;
      }
  }
  @keyframes SlideOut{
    0%{
        transform:translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
